@import url('https://fonts.googleapis.com/css2?family=Anton&family=Permanent+Marker&display=swap');
body {
    position: relative;
    background: #313E50;
  }
  .a{
    color: rgb(255, 119, 0);
    font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  letter-spacing: 9px;
  }
  .b{
    color: white;
    font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 9px;
  font-size: 30px;

  }
  .c{
    color: white;
    font-size: 20px;
  }
  .to{
    text-align: center;
  }
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: rgb(255, 119, 0);
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
.e{
    display: none;
}
.f{
    display: block;
}
.g{
    color: white;
    font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 9px;
  font-size: 20px; 
}
.h{
    font-size: 20px;
    color: white;
}



@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
  background: #2f2f31;
  transform: rotateX(0.003deg);
  height: 100vh;
  color: #fff;
}
a {
  /* position: absolute; */
  /* left: 50%; */
  /* top: 50%; */
  transform: translate(-50%, -50%);
  color: #cecd24;
  text-decoration: none;
  font-size: 2em;
  display: inline-block;
  font-family: Montserrat;
  text-transform: uppercase;
  padding: 0.5em 2em;
  border: 2px solid #cecd24;
  transition: 0.02s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
}
a::before {
  content: "";
  display: inline-block;
  position: absolute;
  /* top: 0;
  left: 0; */
  /* right: 100%; */
  bottom: 0;
  background: #cecd24;
  transition: 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s cubic-bezier(0.1, 0, 0.1, 1);
  z-index: -1;
}
a::after {
  content: "";
  display: inline-block;
  background-image: url("https://cdn-icons-png.flaticon.com/128/109/109617.png");
  position: absolute;
  top: 0;
  left: calc(100% - 3em);
  right: 3em;
  bottom: 0;
  background-size: 1.5em;
  background-repeat: no-repeat;
  background-position: center;
  transition: right 0.3s cubic-bezier(0.1, 0, 0.1, 1);
}
a:hover {
  padding: 0.5em 3.5em 0.5em 0.5em;
}
a:hover::before {
  left: calc(100% - 3em);
  right: 0;
  transition: 0.3s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
}
a:hover::after {
  right: 0;
  transition: right 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
}
